.card {
  width: 100px;
  height: 160px;
  max-width: 80px;
  max-height: 120px;
  min-width: 46px;
  min-height: 69px;
  border: 1px solid black;
  border-radius: 5px;
  word-wrap: break-word;
  font-size: 1em;
  text-align: center;
}
