.golf {
  margin: 10px;
}

.card {
  width: 10vw;
  height: 16vw;
  max-width: 80px;
  max-height: 120px;
  min-width: 46px;
  min-height: 69px;
  border: 0.4vw solid black;
  border-radius: 5px;
  word-wrap: break-word;
  font-size: 5vw;
  text-align: center;
}

.deck {
  float: left;
  font-size: 1.3vw;
}

.discard {
  margin-left: 10px;
  float: left;
  font-size: 1.3vw;
}

.top {
  width: 100%;
  height: 18vw;
  max-height: 130px;
  min-height: 80px;
}

.board {
  margin: auto;
  width: 42%;
  min-width: 200px;
}

.boardCard {
  float: left;
  margin: 1vw;
}

.hand {
  float: left;
  margin-left: 1vw;
}

.minis {
  width: 100%;
  height: 100px;
  float: left;
}

.miniBoard {
  text-align: center;
  margin: auto;
  float: left;
  width: 30vw;
  height: 30vw;
}

.miniCard {
  margin: 0.2vw;
  float: left;
  width: 7vw;
  height: 10vw;
  border: 0.3vw solid black;
}
